<a href="https://colab.research.google.com/github/wangpouwei/Paul/blob/master/dlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import keras

In [17]:
from keras.datasets.mnist import load_data
(x_train, y_train), (x_test, y_test) = load_data()

In [18]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(60000, 28, 28)
(60000,)
(10000, 28, 28)
(10000,)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import random
c = random.randint(0,5999)
print(y_train[c])
plt.imshow(x_train[c], cmap= "gray")

In [25]:
import pandas as pd
pd.DataFrame(x_train[c])

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,253,201,64,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,252,252,136,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,240,252,237,25,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,244,252,253,202,25,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,252,252,253,252,121,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,253,253,244,253,215,21,0,0,0,0
10,0,0,0,0,0,0,0,0,0,22,...,252,157,138,252,183,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,116,...,141,6,138,252,215,21,0,0,0,0
12,0,0,0,0,0,0,0,0,0,210,...,0,0,138,252,183,0,0,0,0,0
13,0,0,0,0,0,0,0,0,85,250,...,0,0,191,252,183,0,0,0,0,0
14,0,0,0,0,0,0,0,7,212,253,...,0,11,255,249,167,0,0,0,0,0
15,0,0,0,0,0,0,0,70,252,252,...,0,136,253,206,0,0,0,0,0,0
16,0,0,0,0,0,0,13,172,252,168,...,26,236,253,123,0,0,0,0,0,0
17,0,0,0,0,0,0,47,252,252,137,...,203,252,234,17,0,0,0,0,0,0
18,0,0,0,0,0,0,47,252,252,137,...,252,252,126,0,0,0,0,0,0,0
19,0,0,0,0,0,0,57,253,253,23,...,253,232,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,140,252,252,96,...,214,18,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,47,252,252,221,...,13,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,9,129,236,252,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,113,137,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0